## Exercises 09

Write a function to build a long string from a list of short strings. Seperate each short string with space. Test your function using your_function_name('Mars','is','smaller','than','Earth.')

In [9]:
import numpy as np

In [10]:
def s_join(*args): 
    print(args)
    s = ''
    for ss in args: 
        s=s+ss+' '  
    return s[0:-1]

In [11]:
s_join('Mars','is','smaller','than','Earth.')

('Mars', 'is', 'smaller', 'than', 'Earth.')

'Mars is smaller than Earth.'

Write a function to find the maximum value of the following list.

In [1]:
x=[0.05465253, 0.38845019, 0.08802595, 0.3530307 , 0.99911915,
       0.07703163, 0.26269039, 0.12891939, 0.61711249, 0.31326518]

In [4]:
def mini(x):
    value=x[0]
    for i in x[1:]:
        if i<value:
            value=i
    return value
mini(x)

0.05465253

Write a function to find the minimum value of the following list.

In [ ]:
x=[0.05465253, 0.38845019, 0.08802595, 0.3530307 , 0.99911915,
       0.07703163, 0.26269039, 0.12891939, 0.61711249, 0.31326518]

In [5]:
def maxi(x):
    value=x[0]
    for i in x[1:]:
        if i>value:
            value=i
    return value
maxi(x)

0.99911915

Write an anonymous functions (lambda) to calculate the distance between two points:
P(1,2,3) and Q(3,4,2)
* Remember: $distance=(x_2-x_1)^2+(y_2-y_1)^2+(z_2-z_1)^2$

In [44]:
P=[1,2,3];Q=[3,4,2]

In [45]:
dist=lambda P, Q:np.sqrt((P[0]-Q[0])**2+(P[1]-Q[1])**2+(P[2]-Q[2])**2)
dist(P,Q)

3.0

In [48]:
a='11';b='22'
a,b=b,a
a,b

('22', '11')