# today's goal
- start Jupyter lab in an easier way
- review EX2
- continue introducing list, string and tuples
- some functions
- Numpy array (if have time)

## Creating and modifying lists

- Python has functions for creating and augmenting lists. 

- The most useful is the `range` function, which can be used to create a uniformly spaced sequence of integers. 

- The general form of the function is `range([start,] stop[, step])`, where the arguments are all integers; those in square brackets are optional:

You can also add lists, but the result might surprise you:

In [4]:
a=[0, 1, 1, 2, 3, 5, 8, 13]

In [5]:
a+a

[0, 1, 1, 2, 3, 5, 8, 13, 0, 1, 1, 2, 3, 5, 8, 13]

In [7]:
b = [5., "girl", 2+0j, "horse", 21]

In [9]:
range(10)

range(0, 10)

In [10]:
a + b

[0, 1, 1, 2, 3, 5, 8, 13, 5.0, 'girl', (2+0j), 'horse', 21]

Adding lists concatenates them, just as the "`+`" operator concatenates strings.

In [1]:
list(range(10)) # makes a list of 10 integers from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
a=list(range(10))

In [5]:
list(range(3,10)) # makes a list of 10 integers from 3 to 9

[3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(0,10,2)) # makes a list of integers from 0 to 9 with a step of 2

[0, 2, 4, 6, 8]

Note that above three lines are different from the textbook, because as in the original, the lines would return a range object not a list, due to the changes in python 3.

In [7]:
range(10)

range(0, 10)

You can add one or more elements to the beginning or end of a list using the "`+`" operator:

In [8]:
c = list(range(1,10,3))
c

[1, 4, 7]

In [9]:
c = c+ [16, 31, 64, 127]
c

[1, 4, 7, 16, 31, 64, 127]

In [10]:
c = [0, 0] + c
c

[0, 0, 1, 4, 7, 16, 31, 64, 127]

You can insert elements into a list using slicing:

In [11]:
d = c[:5] + [101, 102] + c[5:]
d

[0, 0, 1, 4, 7, 101, 102, 16, 31, 64, 127]

#### How to add each element of list 'a' by 1?

In [12]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
aa=a+1

TypeError: can only concatenate list (not "int") to list

In [15]:
aa=[]
for i in a: # we will talk about for loop later
    aa += [i+1]

#### A list does not support vectorized operation. This is different from array.

In [16]:
aa

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Tuples

- Tuples are lists that are *immutable*. 

- Once defined, the individual elements of a tuple cannot be changed. 

- Written as a sequence of numbers enclosed in *round* parentheses. 

- Individual elements of a tuple are addressed in the same way as individual elements of lists are addressed.

In [17]:
e = (1, 1, 2, 3, 5, 8, 13)

In [18]:
e[4]

5

In [19]:
e[4] = 7

TypeError: 'tuple' object does not support item assignment

Tuples offer some degree of safety when we want to define lists of immutable constants.

## Multidimensional lists and tuples

Consider, for example, a list of three elements, where each element in the list is itself a list:

In [20]:
f = [(3, 9), 
     (8, 5), 
     (11, 1)]

In [22]:
f[0]="d,9"

In [24]:
f

['d,9', (8, 5), (11, 1)]

In [25]:
f[1][0]

8

In [26]:
f[2][1]

1

Multidimensional tuples work exactly like multidimensional lists, except they are immutable.

# Some useful functions for string, list and tuples

## join and split functions

### A better way to work on the last probem of EX02

In [35]:
a = "Mars is bigger than Earth."

In [36]:
b=a.split(" ")

In [37]:
print(b)

['Mars', 'is', 'bigger', 'than', 'Earth.']

In [45]:
b[0]="Earth";b[-1]="Mars."
print(b)

['Earth', 'is', 'bigger', 'than', 'Mars.']

In [55]:
c=" "

In [62]:
a = " ".join(b)

In [63]:
print(a)

Mars is bigger than Earth

In [64]:
help(c.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

# Using re module

In [65]:
import re
a = "Mars is bigger than Earth."
b=re.split(' |\.',a)
print(b)

['Mars', 'is', 'bigger', 'than', 'Earth', '']

In [66]:
a=" ".join(b)
print(a)

Mars is bigger than Earth

In [70]:
a='Beautiful, is; better*than\nugly'
b=re.split('; |, |\*|\n|Bea',a)

In [71]:
b

['', 'utiful', 'is', 'better', 'than', 'ugly']

In [72]:
" ".join(b)

' utiful is better than ugly'

## strip function

In [73]:
a ='  abc  '
a.strip()

'abc'

In [74]:
a.upper()

'  ABC  '

In [75]:
b=a.upper()

In [76]:
b

'  ABC  '

In [77]:
b.lower()

'  abc  '

In [78]:
a='I like cooking'

In [79]:
b=a.replace('cooking','coding')

In [80]:
b

'I like coding'

## __find__ function

In [81]:
a = "Mars is bigger than Earth."

In [82]:
a.find('a')

1

In [88]:
a.find('a',2,30)

17

In [89]:
a.find('er')

12

In [90]:
a.find('abc')

-1

In [91]:
a.rfind('a')

21

In [87]:
a.count('a')

3

## Question: how to find all the indexes of a substring?