# Today, we will
- Play with strings

## Strings

- Lists of characters. 
 
- Created by enclosing a sequence of characters within a pair of single or double quotes. 

- For example, the followings are all strings

“Marylyn”, “omg”, “good_bad_#5f>!”, “{0:0.8g}”, “sese is a great”


Strings can be concatenated using the "`+`" operator:

In [1]:
a = "My dog's name is"

In [2]:
b = "Bingo"

In [3]:
c = a + b + b+ b

In [4]:
print(c)

My dog's name isBingoBingoBingo

In [7]:
c = a + " " + b

In [8]:
print(c)

My dog's name is Bingo

You will use strings for different purposes: labeling data in data files, labeling axes in plots, formatting numerical output, requesting input for your programs, as arguments in functions, changing filenames, *etc*.

Because numbers---digits---are also alpha numeric characters, strings can be made up of numbers:

In [22]:
d = "927.5a"

In [23]:
e = 927

In [24]:
float(d[0:5])+e

1854.5

In [10]:
d+str(e)

'927927'

What do you think happens if you try to add them by writing `d+e`?

### Slicing string

In [23]:
a

"My dog's name is"

In [21]:
a[4:8]

"og's"

Note that Python uses index from 0

#### A string can be converted to an integer and verse wise

In [25]:
a="123"
b=int(a)
b, type(b)

(123, int)

In [26]:
c=str(b)
c, type(c)

('123', str)

In [27]:
a

'123'

In [30]:
b=a*10

In [31]:
b

'123123123123123123123123123123'

In [32]:
b/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'